---
// src/pages/index.astro
import Menu from '../components/Menu.jsx';
---

<html>
  <body>
    <h1>Bienvenido al restaurante</h1>
    <Menu client:load />  <!-- client:load asegura que React se cargue en el cliente -->
  </body>
</html>
